<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpareChange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F6A34BC1BADE1F000183D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6A34D01BADE1F000183D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6A34DB1BADE1F100183D91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
